<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.posco.insta.post.repository.PostMapper">
    <select id="getPost" resultType="PostDto">
        select
            id,userId,img,content
        from
            posts
    </select>
    <select id="getPostById" parameterType="PostDto" resultType="PostDto">
        select *
        from posts
        where userId = #{userId};
    </select>
    <select id = "findPostsByUserId" resultType="SelectPostJoinUserDto" parameterType="PostDto">
        select
            p.id, p.userId, p.img, p.content,
            u.name as userName, u.img as userImg
        from
            posts as p
        inner join users as u
        on p.userId = u.id
        where p.userId = #{userId}

    </select>
    <delete id="deletePostByUserIdAndId" parameterType="PostDto">
        delete from posts
        where id = #{id} and userId = #{userId}
    </delete>
</mapper>