@charset "UTF-8";
#header{
	background-color:black;
	color:#ffffff;
	text-align: center;
	padding: 5px;
}
#navi{
	line-height:30px;
	background-color:#eeeeee;
	height:500px;
	width:100px;
	float:left;
	padding:5px;
}

#section{
	width:800px;
	float:left;
	padding:10px;
	
}
#footer{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}